.friend{
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.friend-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app{
  margin: 0;
  padding: 1.5rem;
}

.form-split-bill{
  /* display: none; */
}